@import 'base/animation';
@import 'libs/fonts';
@import 'base/variables';

@import 'blocks/bet';
@import 'blocks/header';
@import 'blocks/email';
@import 'blocks/buttons';
@import 'blocks/slider';
@import 'blocks/media';



body {
    background: #293B2B;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fans {
    width: 100%;
}
