.email {
    position: relative;
    background: #293B2B;
    min-height: 360px;
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__logo {
        position: absolute;
        padding-right: 1020px;
        margin-top: 99px;
        height: 26px;
    }
    &__adress {
        margin-top: 90px;
        position: absolute;
        width: 778px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 84.7925px;
        border: none;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 17.1864px;
        color: #D9D9D9;
        padding-left: 24px;
    }
    &__btn {
        margin-left: 171px;
        display: inline-block;
        position: relative;
        margin-top: 87px;
        height: 48px;
        padding-right: 65px;
        text-align: right;
        width: 980px;
        height: 46px;
        background: $main-green;
        border-radius: 99.1525px;
        border: none;
        cursor: pointer;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 17px;
        color: $white-color;
    }
    &__btn:after {
        content: '';
        width: 100%;
        height: 200%;
        position: absolute;
        top: 0; left: 0;
        opacity: 0.5;
        filter: blur;
        background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%);
        transform: translate(-100%, -25%) rotate(10deg);
        animation: blick 2s infinite;
    }
    
    @keyframes blick {
        0% {
        transform: translate(-100%, -25%) rotate(10deg);
        }
        20% {
        transform: translate(100%, -25%) rotate(10deg);
        }
        100% {
        transform: translate(100%, -25%) rotate(10deg);
        }
    }   
}

.payment {
    max-width: 100%;
    margin: 90px auto 0;
    display: flex;
    justify-content: center;
}

.mobile__logo {
    display: none;
}
