.header {
    position: relative;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    height: 60px;
    background: linear-gradient(0deg, rgba(22, 26, 22, 0) -37.5%, #161A16 68%);
    &__logo {
        position: absolute;
        padding: 17px 0 17px 370px;
    }
    &__wrapper {
        padding: 0 370px 0 0;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
        position: relative;
    }
    &__login {
        padding: 0;
        margin-top: 20px;
        display: flex;
        font-family: 'Inter semi-bold';
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-decoration-line: underline;
        color: $white-color;
    }
    &__btn {
        position: relative;
        margin: 15px 0 19px 15px;
        width: 130px;
        height: 30px;
        background: $main-green;
        border-radius: 397px;
        color: $white-color;
        font-family: 'Inter';
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        color: $white-color;
        border: none;
        cursor: pointer;
        &:hover {
            box-shadow: 3px 3px 3px rgba(99, 215, 55, 1);
        }
    }
    &__block {
        left: 0;
        z-index: 1;
        position: absolute;
        top: 60px;
        bottom: 889px;
        width: 215px;
        height: 86px;
        background: $white-color;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.6);
        border-radius: 0px 0px 25.8px 25.8px;
    }
    &__deposito {
        margin-top: 14px;
        font-style: italic;
        font-weight: 900;
        font-size: 20px;
        text-align: center;
        color: #293B2B;
    }
    &__big {
        margin-top: 0;
        font-style: italic;
        font-weight: 900;
        font-size: 28px;
        text-align: center;   
        color: #293B2B;
    }
}