@media(max-width: 1441px) {
    .header {
        &__login {
            padding: 0px;
        }
        &__block {
            left: 0px;
        }
    }
    .slider {
        &__title {
            margin: -460px 0 62px 310px;
        }
        &__subtitle {
            margin: 62px 0 29px 310px;
        }
        &__btn {
            margin: 29px 0 0 307px;
        }
    }
}

@media(max-width: 1025px) {
    .header {
        height: 40px;
        &__wrapper {
            position: relative;
            width: 1024px;
        }
        &__logo {
            padding: 11px 0 11px 302px;
            img {
                width: 70.38px;
                height: 18px;
            }
        }
        &__login {
            display: none;
        }
        &__btn {
            position: absolute;
            font-size: 10px;
            width: 86.67px;
            height: 22px;
            margin: 11px 520px;
        }
        &__block {
            top: 40px;
            left: 345px;
            width: 211px;
            height: 26px;
        }
        &__deposito {
            text-align: center;
            margin: 0;
            font-size: 10px;
        }
        &__big {
            font-size: 12px;
        }
    }

    .info {
        &__title {
            margin: 50px 0 0 401px;
        }
        &__subtitle {
            margin: 167px 0 0 398px;
        }
        &__text {
            font-size: 15px;
        }
        &__descr {
            font-size: 24px;
        }
        &__big {
            font-size: 31px;
        }
        &__mobile {
            display: none;
        }
        &__btn {
            margin: 213px 0 0 377px;    
            width: 269px;
            height: 50px;
            font-size: 22px;
        }
    }

    .slider {
        position: relative;
        &__slide {
        height: 800px;
        }
        &__img {
            height: 800px;
        }
        &__mobile {
            display: block;    
            margin: 170px 0 0 86px;
        }
    }

    .email {
        &__wrapper {
            margin-right: 165px;
        }
        &__adress {
            width: 222px;
            height: 30px;
            font-size: 12px;
        }
        &__btn {
            height: 35px;
            width: 423px;
            font-size: 12px;
            padding-right: 68px;
        }
        &__logo {
            display: none;
        }
    }
    .mobile__logo {
        display: block;
        position: absolute;
        top: 315px;
        right: 460px;
    }
    .payment {
        margin-top: 75px;
    }
}   

@media(max-width: 769px) {
    .header {
        &__wrapper {
            position: relative;
            width: 768px;
        }
        &__logo {
            padding: 11px 0 11px 200px;
        }
        &__btn {
            position: absolute;
            margin: 11px 445px;
        }
        &__block {
            left: 260px;
        }
    }

    .info {
        &__title {
            margin: 50px 0 0 325px;
        }
        &__subtitle {
            margin: 160px 0 0 323px;
        }
        &__btn {
            margin: 225px 0 0 275px;
        }
    }

    .mobile__logo {
        right: 325px;
    }
}

@media(max-width: 426px) {
    .header {
        &__wrapper {
            position: relative;
            width: 425px;
        }
        &__logo {
            padding: 11px 65px;
        }
        &__btn {
            margin: 11px 250px;
        }
        &__block {
            left: 85px;
        }
    }
    .info {
        &__title {
            margin: 40px 0 0 150px;
        }
        &__subtitle {
            margin: 140px 0 0 150px;
        }
        &__btn {
            margin: 200px 0 0 100px;
        }
    }
    .slider {
        &__slide {
            height: auto;
        }
    }

    .email {
        &__wrapper {
            margin-right: 90px;
        }
        &__adress {
            width: 145px;
            font-size: 10px;
        }
        &__btn {
            margin-top: 90px;
            width: 145px;
            height: 30px;
            font-size: 10px;
            padding-left: 90px;
        }
    }
    .mobile__logo {
        right: 160px;
    }
}